
// Font.
$font: (
  primary: ("Karla",sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  charcoal:          #FFFFFF,
  charcoal-light-3:  darken(#FFFFFF, 3%),
  charcoal-light-7:  darken(#FFFFFF, 7%),
  charcoal-light-15: darken(#FFFFFF, 15%),
  charcoal-light-25: darken(#FFFFFF, 25%),
  charcoal-light-40: darken(#FFFFFF, 40%),
  charcoal-light-60: darken(#FFFFFF, 60%),
  charcoal-light-75: darken(#FFFFFF, 75%),
  charcoal-light-80: darken(#FFFFFF, 80%),
  charcoal-dark-15:  lighten(#FFFFFF, 15%),
  accent:            #01B8DA,
  accent-blue:       #0c8aea,
  accent-green:      #0da5b1,
  accent-violet:     #7c43a8,
  accent-yellow:     #ed9700
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/buttons";
@import "imports/icons";
@import "imports/forms";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/banner";
